.user-li {
  display: flex;
  padding: 20px;
}

.user-li-border {
  border-bottom: 1px solid #eee;
}

.user-li img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.user-li .user-info {
  margin-left: 10px;
}

.user-li .user-info h4 {
  margin: 0 0 10px;
}

.user-li .user-info p {
  font-size: 12px;
}